*{
  /* border: 1px solid black !important; */
}

.CardAlbum{
  /* margin: 10px; */
  padding: 25px;
  border-radius: 15px;
  height: 140px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
}
.CardAlbum .album-name{
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
  overflow: hidden;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.05rem;
}
.CardAlbum .profile-frame{
  display: flex;
  margin-top: 10px;
  align-items: center;
  background-color: rgb(255, 255, 255, .15);
  padding: 7px;
  border-radius: 5px;
  transition: all .3s;
}
.CardAlbum .profile-frame:hover{
  background-color: rgb(255, 255, 255, .3);
}
.CardAlbum .profile-icon{
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: white;
  color: #A552F8;
  cursor: pointer;
}
.CardAlbum .profile-icon svg{
  font-size: 1.05rem;
}
.CardAlbum .profile-name{
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
  overflow: hidden;
  text-transform: capitalize;
  font-weight: 400;
  font-size: .9rem;
}
