*{
    /* border: 1px solid black !important; */
}

.root{
    width: 100%;
    height: 100vh;
    background: #eee;
    padding: 15px;
}
.screen{
    max-width: 375px; /* iPhone X */
    height: 100%;
    overflow: hidden;
    margin: auto;
    background: white;
    border-radius: 10px;
}