*{
    /* border: 1px solid black !important; */
}

.root{
    width: 100%;
    padding: 80px 0;
}
.wrapper{
    width: 70%;
    margin: auto;
}
.container{
    margin: 0 -15px;
    margin-top: 60px;
}